<ion-header class="ion-no-border">
  <ion-toolbar color="background">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" color="primary">Récupération</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background" class="ion-padding">
  <div class="forgot-container">
    <div class="logo-section ion-text-center">
      <ion-icon name="key-outline" color="primary" class="main-logo"></ion-icon>
      <h1 class="welcome-text">Mot de passe oublié ?</h1>
      <p class="subtitle-text">Entrez votre email pour recevoir un lien de réinitialisation.</p>
    </div>

    <form [formGroup]="forgotForm" (ngSubmit)="onReset()">
      <ion-item lines="full" class="ion-margin-top custom-item">
        <ion-input label="Email Professionnel" labelPlacement="stacked" type="email" formControlName="email" placeholder="nom@360diagnostics.com"></ion-input>
      </ion-item>
      <div class="error-msg" *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid">
        Veuillez entrer un email valide.
      </div>

      <ion-button expand="block" shape="round" type="submit" [disabled]="forgotForm.invalid" class="reset-btn ion-margin-top">
        Envoyer le lien
      </ion-button>
    </form>
  </div>
</ion-content>
