.forgot-container {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 5%;
}

.logo-section {
  margin-bottom: 30px;

  .main-logo {
    font-size: 70px;
    margin-bottom: 15px;
  }

  .welcome-text {
    font-size: 26px;
    font-weight: 700;
    color: var(--ion-color-primary);
  }

  .subtitle-text {
    color: #666;
  }
}

.custom-item {
  --background: #fff;
  --border-radius: 12px;
  --padding-start: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  --highlight-height: 0;

  ion-label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px !important;
  }
}

.error-msg {
  color: var(--ion-color-danger);
  font-size: 12px;
  margin-left: 15px;
}

.reset-btn {
  height: 52px;
  font-weight: 600;
  font-size: 18px;
}
